.tb-header-main {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-radius: 50px;
    background-color: transparent;
    color: white;
    margin-bottom: -10px;
    font-size: 1.2em;
    margin-right: 100px;
    min-width: 500px;
    text-transform: uppercase;
}

.tb-main-cont {
    display: flex;
    flex-flow: row nowrap;
    min-width: 600px;
}

.tb-main {
    display: flex;
    align-items: center;
    background-color: var(--card-bg);
    color: var(--textColor);
    padding: 15px;
    border-radius: 50px;
    box-shadow: 0 0 20px 5px #00000029;
    flex: 1;
}

.tb-content {
    background-color: var(--card-bg);
    color: var(--textColor);
    border-radius: 20px;
    min-height: 100px;
    max-height: 400px;
    margin-right: 80px;
    padding: 0 40px;
    text-align: left;
}

.tr-descripHeader {
    margin: 5px 0;
    font-size: 1.1em;
    font-weight: 600;
}

.tr-descrip {
    overflow-y: auto;
    max-height: 200px;
    font-size: 1em !important;
}

.tb-more-options {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border-radius: 100px;
    padding: 0 15px;
    font-size: 1.3em;
    background-color: var(--card-bg);
    color: var(--textColor);
    box-shadow: 0 0 20px 5px #00000029;
}

.tb-more-options>div {
    transition: all .3s ease-out;
}

.tb-more-options>div:hover {
    transform: scale(1.1);
}

.tr-header-name {
    flex: 1;
    text-align: left;
}

.tr-header-ver {
    flex: 1;
    white-space: nowrap;
    margin-left: 50px;
}

.tr-header-date {
    flex: 1;
    text-align: right;
}

.tr-name-cont {
    flex: 1;
    text-align: left;
}

.tr-name, .tr-name:hover, .tr-author:hover, .tr-btmore>a, .tr-ver>a {
    color: var(--textColor);
    white-space: nowrap;
}

.tr-author {
    display: block;
    font-size: 0.8em;
    color: var(--textHoverColor);
}

.tr-ver {
    flex: 1;
    margin: 0 10px;
}

.tr-date {
    flex: 1;
    text-align: right;
}

.tr-btmore>a:hover {
    opacity: 0.6;
}

.feed-icon {
    max-height: 40px;
    border-radius: 40px;
}

.tr-btinfo {
    font-size: 1.3em;
}

/* Mobile CSS */

@media only screen and (max-width: 768px) {
    .tb-header-main {
        margin-bottom: -20px;
        font-size: 1.0em;
        margin-right: 10px;
    }
    .tb-main {
        font-size: 0.9em;
    }
}